.section_title_web {
  font-size: 1.8em;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 1.6;
}
.ui .card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.ui.card > .image {
  height: 600px;
}

.ui.card > .content {
  padding: 10px;
}
@media (max-width: 700px) {
  .ui .card {
    display: block;
  }
}
