@font-face {
  font-family: 'Dosis', sans-serif;
  src: local('Dosis'),
    url('../fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: local('Raleway'),
    url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Barrio', cursive;
  src: local('Barrio'),
    url('../fonts/Barrio/Barrio-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoModerno', cursive;
  src: local('MuseoModerno'),
    url('../fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf')
      format('truetype');
}
@font-face {
  font-family: 'Press Start 2P', cursive;
  src: local('Press Start 2P'),
    url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}
