.ui.fixed.menu {
  bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.ui.fluid.labeled.icon.menu > .item {
  min-width: 0;
  padding: 20px 30px;
}
@media (min-width: 30em) {
  .menu_mobile {
    display: none;
  }
}
