/* * {
  border: 1px solid red;
} */
.intro {
  background: var(--blu-blk);
}
.selfie {
  position: fixed;
  right: 0;
}
.designer {
  font-family: 'MuseoModerno', cursive;
  font-size: 60px;
  color: var(--mid-blu);
}
.developer {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: var(--brite-grn);
}
.illustrator {
  font-family: 'Barrio', cursive;
  font-size: 36px;
  color: var(--pnk);
}
.mothBox {
  position: relative;
  padding: 10px;
}
.moths1 {
  position: absolute;
  top: -20px;
  left: 200px;
  z-index: 100;
}
.moths2 {
  position: absolute;
  top: 15px;
  left: 85px;
  z-index: 100;
}
.moths3 {
  position: absolute;
  top: -15px;
  left: 180px;
  z-index: 100;
}
@media (min-width: 30em) {
  .designer {
    font-size: 100px;
  }
  .developer {
    font-size: 50px;
  }
  .illustrator {
    font-size: 80px;
  }
}
