nav {
  width: 100%;
}
.navSticky {
  background: #f3f5bc;
}
.navSticky li {
  display: none;
}
.ui.circular.button {
  background: #93d2d2;
  width: 100px;
  height: 100px;
}
.webLink,
.designLink,
.illusLink,
a {
  list-style-type: none;
}
.menu {
  display: none;
}
.ui.circular.button:focus {
  background: var(--grn);
}
.webLink {
  background: var(--lt-grn);
  height: 10px;
  width: 10px;
  border-radius: 50%;

  top: 2px;
  right: 2px;
}
.designLink {
  background: var(--dk-grn);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.illusLink {
  background: var(--dk-blu);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

@media (min-width: 30em) {
  .menu {
    width: 20%;
    list-style-type: none;
    display: block;
  }
  .navBtnSticky,
  .ui.circular.button,
  .webLink,
  .designLink,
  .illusLink {
    display: none;
  }
}
