.carousel {
  overflow: hidden;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  color: var(--white);
}
.indicators {
  display: flex;
  justify-content: center;
}
.butnArrow {
  background: var(--tertiary);
}
.indicators > .button {
  margin: 5px;
}
.indicators > .button.active {
  background: var(--primary);
  color: var(--white);
}
