.footer {
  background: var(--gray);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.form {
  padding: 10px;
}

.socialMedia a {
  color: var(--tertiary);
  margin: 0 1rem;
  transition: transform 250ms;
  padding: 20px;
}
.socialMedia a:hover {
  transform: translateY(-2px);
  color: var(--secondary);
}

@media only screen and (min-width: 760px) {
}
