.section_title_design {
  font-family: 'MuseoModerno', cursive;
  font-size: 3em;
  padding: 20px;
  background: var(--mid-blu);
  display: flex;
  flex-direction: row;
  width: 100%;
}
#sxtn_gry {
  background: var(--sixteen-gray);
}
.sxtn_brn {
  background: var(--sixteen-brown);
}

.cndr_bege {
  background: var(--cindr-beige);
}
.stylsh_grn {
  background: var(--stylish-grn);
}
.plnit_purple {
  background: var(--planit-purple);
}
